@model IBM_07AUG2023_D1MorBNew.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInHrs" class="control-label"></label>
                <input asp-for="DurationInHrs" class="form-control" />
                <span asp-validation-for="DurationInHrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDesc" class="control-label"></label>
                <input asp-for="CourseDesc" class="form-control" />
                <span asp-validation-for="CourseDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
