
@{
    ViewData["Title"] = "SimpleLayoutContent";
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
}

<h1>SimpleLayoutContent</h1>

@section Footer {

    <footer>

         Footer of Content Page 

    </footer>

}