<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<h1> In Layout Level 0 </h1>


<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
